@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif
}

nav {
    background-color: #fff;
    width: 940px;
    margin: 0 auto;
    padding: 10px;  
}
.navbar nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    
    
}
.navbar nav ul li {
    padding-right: 20px !important;
}
.navbar nav ul li a{
    text-decoration: none;
    color: #555 ;
}
.navbar nav ul li #btn{
    text-decoration: none;
    color: #fff ;
    background-color: #0fbbce;
    padding: 15px 25px;
    border-radius: 3px;
}
.navbar nav ul li #btn:hover{
    text-decoration: none;
    color: #0fbbce;
    background-color: #fff;
    padding: 15px 25px;
    border-radius: 3px;
    border: #0fbbce 1px solid;
}
main {
    width: 950px;
    margin: 0 auto;
    padding: 10px 40px;  

}

.search {
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: space-between;
    
}
.gallery {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
    align-content: space-between;
    margin-top: 40px;
    
}
img {
    width: 290px;
    height: 250px;
    padding: 10px;
}
input{
    border: none;
    border-bottom: 1px solid #acacac;
    color: #acacac;
    font-size: 18px;
    padding: 10px;
}
 .fa-search{
    border: none;
    border-bottom: 1px solid #acacac;
    color: #acacac;
    font-size: 18px;
    padding: 12px;
}
button{
   padding: 12px 50px; 
   color: #fff;
   background-color: #555;
   border: none;
   border-radius: 3px;
   font-size: 13px;
   box-shadow: 3px 4px 8px rgb(157, 157, 157) ;
}